@import "./reset";
@import "./mixin";
@import "./variables";

.wrapper {
  min-height: 100%;
  position: relative;
  scroll-padding-top: 100px;
}

.header {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: $white;
  box-shadow: 0px 4px 4px $shadow;

  &__wrapper {
    @include flex(row, space-between);
    padding: 2vh 10%;
  }

  &__menu {
    z-index: 1;
    @include flex();
    color: $darkGreen;
    text-transform: uppercase;
    font-size: calculator-rem(20);
    cursor: pointer;
    transition: 0.4s;

    &--menu {
      position: fixed;
      display: block;

      &-image {
        width: 50px;
        transition: 0.4s;
      }
    }

    &--close {
      position: fixed;
      display: none;
      
      &-image {
        width: 40px;
        transition: 0.4s;
      }
    }

    &--title {
      margin-top: 50px;
      transition: 0.4s;

    }
  }

  &__title {
    z-index: 2;
    @include flex();
    color: $darkGreen;
    font-size: calculator-rem(56);

    &--logo {
      width: 80px;
      transition: 0.4s;
    }

    &--title {
      font-family: "Alatsi";
      transition: 0.4s;
    }
  }
}

.line {
  display: block;
}

.menu {
  &-options {
    display: none;
    background-color: $white;
    width: 250px;
    margin-left: 9.5%;
    padding-top: 6%;
    top: 0;
    box-shadow: inset 0 -4px 4px $shadow;
    position: fixed;
    transition: 0.4s;

    &--department {
      height: 25px;
      padding: 17px 0 17px 17px;
      display: block;
      @include flex(row, start, center);

      &:hover {
        background-color: $darkGreen;
        color: $white;

        &:last-child {
          box-shadow: inset 0 -4px 4px $shadow;
        }
      }

      &--icon {
        width: 10%;
        padding-right: 10px;

        &-next {
          width: 10px;
          margin-left: 10px;
        }
      }

      &--link {
        font-size: calculator-rem(20);
        color: $lightGreen;
        text-decoration: none;
        font-family: "Atkinson Hyperlegible";
      }
    }
  }
}

.categories {
  display: none;
  margin-top: -60px;

  &-options {
    background-color: $white;
    width: 250px;
    left: 100%;
    box-shadow: inset 0 -4px 4px $shadow;
    position: absolute;

    &--category {
      height: 25px;
      padding: 17px 0 17px 17px;

      &:hover {
        background-color: $darkGreen;
        color: $white;

        &:last-child {
          box-shadow: inset 0 -4px 4px $shadow;
        }
      }

      &-link {
        font-size: calculator-rem(20);
        color: $lightGreen;
        text-decoration: none;
        font-family: "Atkinson Hyperlegible";
      }
    }
  }
}

.last {
  margin-top: -414px;
}

.subcategories {
  display: none;
  margin-top: -37px;

  &-options {
    background-color: $white;
    width: 250px;
    left: 100%;
    box-shadow: inset 0 -4px 4px $shadow;
    position: absolute;

    &--subcategory {
      height: 25px;
      padding: 17px 0 17px 17px;

      &:hover {
        background-color: $darkGreen;
        color: $white;

        &:last-child {
          box-shadow: inset 0 -4px 4px $shadow;
        }
      }

      &-link {
        font-size: calculator-rem(20);
        color: $lightGreen;
        text-decoration: none;
        font-family: "Atkinson Hyperlegible";
      }
    }
  }
}

.option {
  &--category {
    &:hover > div {
      display: block;
    }
  }

  &--subcategory {
    &:hover > div {
      display: block;
    }
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $lightGreen;
  color: $white;
  margin-bottom: -17vh;

  &__wrapper {
    @include flex(row, space-between);
    height: auto;
    padding: 1% 10%;
  }

  &__logo {
    width: 200px;
    height: auto;
  }

  &__adress {
    text-align: center;
    white-space: pre-line;
    font-size: calculator-rem(18);
  }

  &__medias {
    @include flex(column);
    width: 250px;

    .medias {
      &--social {
        font-size: calculator-rem(18);
      }

      &--icons {
        @include flex();
        gap: 20px;
        width: 100%;
        margin-top: 10px;

        &__link {
          width: 100%;
          height: 100%;
          @include flex();
          cursor: pointer;

          &-icon {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.main-content {
  margin-top: 15vh;
  margin-bottom: 17vh;
}
