{% extends 'base.html' %}{% load static %}
{% block titulo %} HOSPITAL LAUREANO - GUIA MÉDICO{%endblock titulo %} 

{% block body %}

<h1>TESTE - GUIA MÉDICO</h1>

<ul>
  {% for item in medico %}
  <a href="{% url 'edit-medico' item.id %}">
    <li>Nome: {{ item.Nome }}. Especialização: {{ item.Especialidade }}</li>
  </a>
  {% endfor %}
</ul>

<a href="{% url 'form-medico' %}">Adicionar Médico</a>
<br/>

<a class="mx-auto my-0 text-uppercase text-amarelo mx-auto mt-2 mb-5 style=" href="{% url 'administrar' %}">Back</a>
{% endblock body %}
