{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/principal.css' %}" />
{% endblock css %} 
{% block titulo %}HOSPITAL LAUREANO - NOTICIAS{% endblock titulo %}
{% block body %}

<h1>TESTE - NOTICIAS</h1>
<ul>
  {% for item in noticia %}
  <a href="{% url 'edit-noticia' item.id %}">
    <li>
        Titulo: {{ item.Titulo }}
        Subtitulo: {{ item.Subtitulo }} 
        Imagem: <img src="/image/{{ item.Imagem }}" width="250"> 
        Corpo: {{ item.Corpo }} 
        Detalhes: {{ item.Detalhes }}
    </li>
  </a>
  {% endfor %}
</ul>

<a href="{% url 'form-noticia' %}">Adicionar Noticia</a>
<br>
<a
  class="mx-auto my-0 text-uppercase text-amarelo mx-auto mt-2 mb-5 style="
  href="{% url 'administrar' %}">Back</a>
{% endblock body %}
