{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alatsi&family=Anton&family=Atkinson+Hyperlegible:wght@400;700&family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock css %}

    <title>{% block titulo %} {% endblock titulo %}</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}" />
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__wrapper">
          <div class="header__menu">
            <div class="header__menu--menu ">
              <img
                class="header__menu--menu-image"
                src="{% static '/images/menu_icon.png' %}"
              />
            </div>
            <div class="header__menu--title">Menu</div>
          </div>
          <div class ="header__menu--devices">
            <img class = "header__small-viewport"
            src="{% static '/images/menu_icon.png' %}"
          />
          </div>
          <div class="header__title" onclick="sendTo('{% url 'home'%}');">
            <img
              class="header__title--logo "
              src="{% static '/images/logo_icon.png' %}"
              alt="Logo do Hospital Napoleão Laureano"
            />
            <h1 class="header__title--title ">Hospital Napoleão Laureano</h1>
            <div class="header__title-devices">
              <h1 class="header__title-small-viewport">Hospital Napoleão Laureano</h1>
            </div>
          </div>
          <div></div>
        </div>
      </header>

      <div class="menu">
        <ul class="menu-options 
                   menu-device-options">
          <li
            class="menu-options--department"
            onclick="sendTo('{% url 'home'%}');"
          >
            <img
              class="menu-options--department--icon"
              src="{% static '/images/home_icon.png' %}"
            />
            <img
              class="menu-options--department--icon--hover"
              src="{% static '/images/hover_home_icon.png' %}"
            />
            <span class="menu-options--department--span">Home</span>
          </li>
          <li class="menu-options--department" onclick="sendTo('#');">
            <img
              class="menu-options--department--icon"
              src="{% static '/images/paciente_icon.png' %}"
            />
            <img
              class="menu-options--department--icon--hover"
              src="{% static '/images/hover_paciente_icon.png' %}"
            />
            <span class="menu-options--department--span">Área do Paciente</span>
          </li>
          <li class="menu-options--department option--category">
            <img
              class="menu-options--department--icon"
              src="{% static '/images/somos_icon.png' %}"
            />
            <img
              class="menu-options--department--icon--hover"
              src="{% static '/images/hover_somos_icon.png' %}"
            />
            <span class="menu-options--department--span">Quem Somos</span>
            <img
              class="menu-options--department--icon--next"
              src="{% static '/images/proximo_icon.png' %}"
            />
            <img
              class="menu-options--department--icon--next-hover"
              src="{% static '/images/hover_proximo_icon.png' %}"
            />
            <div class="categories">
              <ul class="categories-options">
                <li class="categories-options--category option--subcategory">
                  <span class="categories-options--category-link"
                    >Hospital Laureano</span
                  >
                  <img
                    class="menu-options--department--icon--next"
                    src="{% static '/images/proximo_icon.png' %}"
                  />
                  <img
                    class="menu-options--department--icon--next-hover"
                    src="{% static '/images/hover_proximo_icon.png' %}"
                  />
                  <div class="subcategories">
                    <ul class="subcategories-options">
                      <li
                        class="subcategories-options--subcategory"
                        onclick="sendTo('{% url 'historiaHospital' %}');"
                      >
                        <span class="subcategories-options--subcategory-link"
                          >História</span
                        >
                      </li>
                      <li
                        class="subcategories-options--subcategory"
                        onclick="sendTo('{% url 'diretoriaHospital' %}');"
                      >
                        <span class="subcategories-options--subcategory-link"
                          >Diretoria</span
                        >
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="categories-options--category option--subcategory">
                  <span class="categories-options--category-link"
                    >Fundação Laureano</span
                  >
                  <img
                    class="menu-options--department--icon--next"
                    src="{% static '/images/proximo_icon.png' %}"
                  />
                  <img
                    class="menu-options--department--icon--next-hover"
                    src="{% static '/images/hover_proximo_icon.png' %}"
                  />
                  <div class="subcategories">
                    <ul class="subcategories-options">
                      <li
                        class="subcategories-options--subcategory"
                        onclick="sendTo('{% url 'historiaFundacao' %}');"
                      >
                        <span class="subcategories-options--subcategory-link"
                          >História</span
                        >
                      </li>
                      <li
                        class="subcategories-options--subcategory"
                        onclick="sendTo('{% url 'diretoriaFundacao' %}');"
                      >
                        <span class="subcategories-options--subcategory-link"
                          >Diretoria e Conselho</span
                        >
                      </li>
                    </ul>
                  </div>
                </li>
                <li
                  class="categories-options--category"
                  onclick="sendTo('{% url 'nossaMissao' %}')"
                >
                  <span class="categories-options--category-link"
                    >Nossa Missão</span
                  >
                </li>
                <li
                  class="categories-options--category"
                  onclick="sendTo('{% url 'galeria' %}')"
                >
                  <span class="categories-options--category-link"
                    >Galeria</span
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="menu-options--department option--category">
            <img
              class="menu-options--department--icon"
              src="{% static '/images/servicos_icon.png' %}"
            />
            <img
              class="menu-options--department--icon--hover"
              src="{% static '/images/hover_servicos_icon.png' %}"
            />
            <span class="menu-options--department--span">Servicos</span>
            <img
              class="menu-options--department--icon--next"
              src="{% static '/images/proximo_icon.png' %}"
            />
            <img
              class="menu-options--department--icon--next-hover"
              src="{% static '/images/hover_proximo_icon.png' %}"
            />
            <div class="categories">
              <ul class="categories-options">
                <li
                  class="categories-options--category"
                  onclick="sendTo('#');"
                >
                  <span class="categories-options--category-link"
                    >Resultado de Exames</span
                  >
                </li>
                <li
                  class="categories-options--category option--subcategory"
                  onclick="sendTo('#');"
                >
                  <span class="categories-options--category-link"
                    >Consultas</span
                  >
                </li>
                <li
                  class="categories-options--category option--subcategory"
                  onclick="sendTo('#');"
                >
                  <span class="categories-options--category-link"
                    >Telemedicina</span
                  >
                </li>
              </ul>
            </div>
          </li>
          <li
            class="menu-options--department"
            onclick="sendTo('{% url 'parceiros' %}');"
          >
            <img
              class="menu-options--department--icon"
              src="{% static '/images/parceiros_icon.png' %}"
            />
            <img
              class="menu-options--department--icon--hover"
              src="{% static '/images/hover_parceiros_icon.png' %}"
            />
            <span class="menu-options--department--span">Parceiros</span>
          </li>
          <li
            class="menu-options--department"
            onclick="sendTo('{% url 'eventos' %}');"
          >
            <img
              class="menu-options--department--icon"
              src="{% static '/images/eventos_icon.png' %}"
            />
            <img
              class="menu-options--department--icon--hover"
              src="{% static '/images/hover_eventos_icon.png' %}"
            />
            <span class="menu-options--department--span">Eventos</span>
          </li>
          <li
            class="menu-options--department"
            onclick="sendTo('{% url 'noticias' %}');"
          >
            <img
              class="menu-options--department--icon"
              src="{% static '/images/noticias_icon.png' %}"
            />
            <img
              class="menu-options--department--icon--hover"
              src="{% static '/images/hover_noticias_icon.png' %}"
            />
            <span class="menu-options--department--span">Notícias</span>
          </li>
          <li
            class="menu-options--department"
            onclick="sendTo('{% url 'transparencia' %}');"
          >
            <img
              class="menu-options--department--icon"
              src="{% static '/images/transparencia_icon.png' %}"
            />
            <img
              class="menu-options--department--icon--hover"
              src="{% static '/images/hover_transparencia_icon.png' %}"
            />
            <span class="menu-options--department--span">Transparência</span>
          </li>
          <li class="menu-options--department option--category">
            <img
              class="menu-options--department--icon"
              src="{% static '/images/fale_icon.png' %}"
            />
            <img
              class="menu-options--department--icon--hover"
              src="{% static '/images/hover_fale_icon.png' %}"
            />
            <span class="menu-options--department--span">Fale Conosco</span>
            <img
              class="menu-options--department--icon--next"
              src="{% static '/images/proximo_icon.png' %}"
            />
            <img
              class="menu-options--department--icon--next-hover"
              src="{% static '/images/hover_proximo_icon.png' %}"
            />
            <div class="categories last">
              <ul class="categories-options">
                <li
                  class="categories-options--category"
                  onclick="sendTo('#');"
                >
                  <span class="categories-options--category-link"
                    >Trabalhe Conosco</span
                  >
                </li>
                <li
                  class="categories-options--category"
                  onclick="sendTo('#');"
                >
                  <span class="categories-options--category-link"
                    >Ouvidoria</span
                  >
                </li>
                <li
                  class="categories-options--category"
                  onclick="sendTo('#');"
                >
                  <span class="categories-options--category-link"
                    >Pesquisa de Satisfação</span
                  >
                </li>
                <li
                  class="categories-options--category"
                  onclick="sendTo('#');"
                >
                  <span class="categories-options--category-link"
                    >Seja um Residente Laureano</span
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="side-small-menu doacao" onclick="sendTo('{% url 'doacao' %}');">
        <img
          class="side-small-menu--image"
          src="{% static '/images/doe_icon.png' %}"
        />
        <div class="side-small-menu--hover hover--doacao">
          <span class="side-small-menu--text">Quero Doar!</span>
        </div>
      </div>
      <div class="side-small-menu chatbot">
        <img
          class="side-small-menu--image"
          src="{% static '/images/chatbot_icon.png' %}"
        />
        <div class="side-small-menu--hover hover--chatbot">
          <span class="side-small-menu--text">Precisa de Ajuda?</span>
        </div>
      </div>

      {% block body %}
      <div class="main-content"></div>
      {% endblock body %}
      <footer class="footer">
        <div class="footer__wrapper">
          <img
            src="{% static '/images/logo_hospital_rodape.png' %}"
            alt="Logo Hospital Napoleão Laureano"
            class="footer__logo"
            onclick="sendTo('{% url 'home'%}');"
          />
          <span class="footer__adress"
            >Telefone: (83) 3015-6200 
            Av. Capitão José Pessoa, 1140 - Jaguaribe
            CEP: 58015-170 - João Pessoa - PB
          </span>
          <div class="footer__medias medias">
            <span class="medias--social">Redes sociais</span>
            <div class="medias--icons">
              <a
                href="https://www.facebook.com/HospitalNapoleaoLaureano"
                class="medias--icons__link"
                target="_blank"
                ><img
                  src="{% static '/images/facebook_icon.png' %}"
                  alt="Ícone do Facebook"
                  class="medias--icons__link-icon"
              /></a>
              <a
                href="https://twitter.com/h_laureano"
                class="medias--icons__link"
                target="_blank"
                ><img
                  src="{% static '/images/twitter_icon.png' %}"
                  alt="Ícone do Twitter"
                  class="medias--icons__link-icon"
              /></a>
              <a
                href="https://www.instagram.com/hnlaureano/"
                class="medias--icons__link"
                target="_blank"
                ><img
                  src="{% static '/images/instagram_icon.png' %}"
                  alt="Ícone do Instagram"
                  class="medias--icons__link-icon"
              /></a>
              <a
                href="https://www.youtube.com/user/HNapoleaoLaureano/feed?view_as=public"
                class="medias--icons__link"
                target="_blank"
                ><img
                  src="{% static '/images/youtube_icon.png' %}"
                  alt="Ícone do YouTube"
                  class="medias--icons__link-icon"
              /></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script
    type="text/javascript"
    src='{% static "/scripts/header.js" %}'
  ></script>
  <script 
    type="text/javascript"
    src='{% static "/script/mobileMenuHeader.js" %}'
  ></script>
  <script
    type="text/javascript"
    src='{% static "/scripts/banner.js" %}'
  ></script>
  <script
    type="text/javascript"
    src='{% static "/scripts/circularMenu.js" %}'
  ></script>
  <script
    type="text/javascript"
    src='{% static "/scripts/rotativeCertConv.js" %}'
  ></script>
  <script
    type="text/javascript"
    src='{% static "/scripts/doacao.js" %}'
  ></script>
  <script
    type="text/javascript"
    src='{% static "/scripts/guia.js" %}'
  ></script>
  <script
    type="text/javascript"
    src='{% static "/scripts/galeria.js" %}'
  ></script>
</html>
