{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Alatsi&family=Anton&family=Atkinson+Hyperlegible:wght@400;700&family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock css %}

    <title>{% block titulo %} {% endblock titulo %}</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__wrapper">
          <div class="header__menu">
            <div class="header__menu--menu">
              <img
                class="header__menu--menu-image"
                src="{% static '/images/menu_icon.png' %}"
              />
            </div>
            <div class="header__menu--close">
              <img
                class="header__menu--close-image"
                src="{% static '/images/fechar_icon.png' %}"
              />
            </div>
            <div class="header__menu--title">Menu</div>
          </div>
          <div class="header__title">
            <img
              class="header__title--logo"
              src="{% static '/images/logo_icon.png' %}"
              alt="Logo do Hospital Napoleão Laureano"
            />
            <h1 class="header__title--title">Hospital Napoleão Laureano</h1>
          </div>
          <div></div>
        </div>
      </header>

      <div class="menu">
        <ul class="menu-options">
          <li class="menu-options--department">
            <img
              class="menu-options--department--icon"
              src="{% static '/images/home_icon.png' %}"
            /><a class="menu-options--department--link" href="{% url 'home'%}"
              >Home</a
            >
          </li>
          <li class="menu-options--department">
            <img
              class="menu-options--department--icon"
              src="{% static '/images/paciente_icon.png' %}"
            /><a class="menu-options--department--link" href="#"
              >Área do Paciente</a
            >
          </li>
          <li class="menu-options--department option--category">
            <img
              class="menu-options--department--icon"
              src="{% static '/images/somos_icon.png' %}"
            /><a class="menu-options--department--link" href="#">Quem Somos</a>
            <img
              class="menu-options--department--icon-next"
              src="{% static '/images/proximo_icon.png' %}"
            />
            <div class="categories">
              <ul class="categories-options">
                <li class="categories-options--category option--subcategory">
                  <a class="categories-options--category-link" href=""
                    >Hospital Laureano</a
                  ><img
                    class="menu-options--department--icon-next"
                    src="{% static '/images/proximo_icon.png' %}"
                  />
                  <div class="subcategories">
                    <ul class="subcategories-options">
                      <li class="subcategories-options--subcategory">
                        <a
                          class="subcategories-options--subcategory-link"
                          href="{% url 'historiaHospital' %}"
                          >História</a
                        >
                      </li>
                      <li class="subcategories-options--subcategory">
                        <a
                          class="subcategories-options--subcategory-link"
                          href="{% url 'diretoriahospital' %}"
                          >Diretoria</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="categories-options--category option--subcategory">
                  <a class="categories-options--category-link" href=""
                    >Fundação Laureano</a
                  ><img
                    class="menu-options--department--icon-next"
                    src="{% static '/images/proximo_icon.png' %}"
                  />
                  <div class="subcategories">
                    <ul class="subcategories-options">
                      <li class="subcategories-options--subcategory">
                        <a
                          class="subcategories-options--subcategory-link"
                          href="{% url 'HistoriaFundacao' %}"
                          >História</a
                        >
                      </li>
                      <li class="subcategories-options--subcategory">
                        <a
                          class="subcategories-options--subcategory-link"
                          href="{% url 'DiretoriaFundacao' %}"
                          >Diretoria e Conselho</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="categories-options--category">
                  <a
                    class="categories-options--category-link"
                    href="{% url 'nossaMissao' %}"
                    >Nossa Missão</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="menu-options--department option--category">
            <img
              class="menu-options--department--icon"
              src="{% static '/images/servicos_icon.png' %}"
            /><a class="menu-options--department--link" href="#">Servicos</a>
            <img
              class="menu-options--department--icon-next"
              src="{% static '/images/proximo_icon.png' %}"
            />
            <div class="categories">
              <ul class="categories-options">
                <li class="categories-options--category">
                  <a
                    class="categories-options--category-link"
                    href="{% url 'resultado-exame'%}"
                    >Exames</a
                  >
                </li>
                <li class="categories-options--category option--subcategory">
                  <a class="categories-options--category-link" href=""
                    >Consultas</a
                  >
                </li>
                <li class="categories-options--category option--subcategory">
                  <a class="categories-options--category-link" href=""
                    >Telemedicina</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="menu-options--department">
            <img
              class="menu-options--department--icon"
              src="{% static '/images/parceiros_icon.png' %}"
            /><a
              class="menu-options--department--link"
              href="{% url 'parceiros' %}"
              >Parceiros</a
            >
          </li>
          <li class="menu-options--department">
            <img
              class="menu-options--department--icon"
              src="{% static '/images/eventos_icon.png' %}"
            /><a
              class="menu-options--department--link"
              href="{% url 'eventos'%}"
              >Eventos</a
            >
          </li>
          <li class="menu-options--department">
            <img
              class="menu-options--department--icon"
              src="{% static '/images/noticias_icon.png' %}"
            /><a
              class="menu-options--department--link"
              href="{% url 'noticias' %}"
              >Notícias</a
            >
          </li>
          <li class="menu-options--department option--category">
            <img
              class="menu-options--department--icon"
              src="{% static '/images/fale_icon.png' %}"
            /><a class="menu-options--department--link" href="#"
              >Fale Conosco</a
            >
            <img
              class="menu-options--department--icon-next"
              src="{% static '/images/proximo_icon.png' %}"
            />
            <div class="categories last">
              <ul class="categories-options">
                <li class="categories-options--category option--subcategory">
                  <a class="categories-options--category-link" href=""
                    >Trabalhe Conosco</a
                  >
                </li>
                <li class="categories-options--category option--subcategory">
                  <a class="categories-options--category-link" href=""
                    >Ouvidoria</a
                  >
                </li>
                <li class="categories-options--category">
                  <a class="categories-options--category-link" href=""
                    >Pesquisa de Satisfação</a
                  >
                </li>
                <li class="categories-options--category">
                  <a class="categories-options--category-link" href=""
                    >Seja um Residente Laureano</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="side-small-menu doacao">
        <img
          class="side-small-menu--image"
          src="{% static '/images/doe_icon.png' %}"
        />
        <div class="side-small-menu--hover hover--doacao">
          <span class="side-small-menu--text">Quero Doar!</span>
        </div>
      </div>
      <div class="side-small-menu chatbot">
        <img
          class="side-small-menu--image"
          src="{% static '/images/chatbot_icon.png' %}"
        />
        <div class="side-small-menu--hover hover--chatbot">
          <span class="side-small-menu--text">Precisa de Ajuda?</span>
        </div>
      </div>

      {% block body %}
      <div class="main-content"></div>
      {% endblock body %}
      <footer class="footer">
        <div class="footer__wrapper">
          <img
            src="{% static '/images/logo_hospital_rodape.png' %}"
            alt="Logo Hospital Napoleão Laureano"
            class="footer__logo"
          />
          <span class="footer__adress"
            >Telefone: (83) 3015-6200 
            Av. Capitão José Pessoa, 1140 - Jaguaribe
            CEP: 58015-170 - João Pessoa - PB
          </span>
          <div class="footer__medias medias">
            <span class="medias--social">Redes sociais</span>
            <div class="medias--icons">
              <a
                href="https://www.facebook.com/HospitalNapoleaoLaureano"
                class="medias--icons__link"
                target="_blank"
                ><img
                  src="{% static '/images/facebook_icon.png' %}"
                  alt="Ícone do Facebook"
                  class="medias--icons__link-icon"
              /></a>
              <a
                href="https://twitter.com/h_laureano"
                class="medias--icons__link"
                target="_blank"
                ><img
                  src="{% static '/images/twitter_icon.png' %}"
                  alt="Ícone do Twitter"
                  class="medias--icons__link-icon"
              /></a>
              <a
                href="https://www.instagram.com/hnlaureano/"
                class="medias--icons__link"
                target="_blank"
                ><img
                  src="{% static '/images/instagram_icon.png' %}"
                  alt="Ícone do Instagram"
                  class="medias--icons__link-icon"
              /></a>
              <a
                href="https://www.youtube.com/user/HNapoleaoLaureano/feed?view_as=public"
                class="medias--icons__link"
                target="_blank"
                ><img
                  src="{% static '/images/youtube_icon.png' %}"
                  alt="Ícone do YouTube"
                  class="medias--icons__link-icon"
              /></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script
    type="text/javascript"
    src='{% static "/scripts/header.js" %}'
  ></script>
  <script
    type="text/javascript"
    src='{% static "/scripts/banner.js" %}'
  ></script>
  <script
    type="text/javascript"
    src='{% static "/scripts/circularMenu.js" %}'
  ></script>
</html>
