{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% endblock css %}

    <title>{% block titulo %}HOSPITAL LAUREANO - CONTATOS     {% endblock titulo %}</title>
</head>

{% block body %}

<h1>TESTE - CONTATOS</h1>
<P class="p"> TESTE</P>
<a class="mx-auto my-0 text-uppercase text-amarelo mx-auto mt-2 mb-5 style=" href="{% url 'home' %}">Back</a>
{% endblock body %}