{% extends 'base.html' %} {% load static %} {% block titulo %} Hospital Napoleão
Laureano - Convênios {% endblock titulo %} {% block body %}
<div class="navegacao">
  <ul class="navegacao">
    <il>
      <a class="navegacao-inicio" href="{% url 'home' %}">
        Início
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-inicio"> Convênios </a>
    </il>
  </ul>
</div>
<div class="pags-titulo-wrapper">
  <h1 class="pags-title pags-h1">Convênios</h1>
</div>
<section class="pags-section">
  <h2 class="pags-h2">O Hospital trabalha com o SUS e os seguintes planos de saúde:</h2>

  <ul class="pags-images-wrapper">
    {% for item in convenio %}
    <li class="pags-image-wrapper">
      <img
        src="/image/{{ item.FotoCovenio }}"
        alt="{{item.NomeConvenio}}"
        class="pags-image"
      />
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock body %}
