{% extends 'base.html' %} {% load static %} {% block titulo %} Hospital Napoleão
Laureano - Convênios {% endblock titulo %} 
{% block body %}
<div class="navegacao">
  <ul>
    <il>
      <a class="navegacao-inicio" href="{% url 'home' %}">
        Início
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-inicio"> Convênios </a>
    </il>
  </ul>
</div>

<h1 class="pags-title">Convênios</h1>

<section class="pags-section">
  <span class="pags-span">O Hospital trabalha com o SUS e os seguintes planos de saúde:</span>

  <ul class="pags-images-wrapper">
    {% for item in convenio %}
    <li class="pags-image-wrapper">
      <img
        src="/image/{{ item.FotoCovenio }}"
        alt="{{item.NomeConvenio}}"
        class="pags-image"
      />
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock body %}
