{% extends 'base.html' %} {% load static %} {% block titulo %} Hospital Napoleão
Laureano - {{detailNoticia.Titulo}} {% endblock titulo %} {% block body %}

<div class="navegacao">
  <ul>
    <il>
      <a class="navegacao-link" href="{% url 'home' %}">
        Início
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-link" href="{% url 'noticias' %}"> Notícias </a>
      <i class="uil uil-angle-double-right"></i>
    </il>
    <il>
      <a class="navegacao-link" href="{% url 'noticias' %}">
        {{detailNoticia.Titulo}}
      </a>
    </il>
  </ul>
</div>
<section class="pags-section">
  <h1 class="news-main-title">{{detailNoticia.Titulo}}</h1>
  <img src="/image/{{ detailNoticia.Imagem }}" class="news-main-image" />
  <p class="news-text">{{detailNoticia.Corpo}}</p>
</section>
{% endblock body %}
