{% extends 'base.html' %} {% load static %} {% block titulo %}Hospital Napoleão
Laureano - Doações {%endblock titulo %} {% block body %}

<div class="navegacao">
  <ul>
    <il>
      <a class="navegacao-link" href="{% url 'home' %}">
        Início
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-link" href="{% url 'doacao' %}"> Quero Doar </a>
    </il>
  </ul>
</div>

<h1 class="pags-title">Quero Doar</h1>
<section class="pags-section column-center">
  <h2 class="pags-h2 row-center">
    Seja um doador do <br />
    Hospital Napoleão Laureano
  </h2>
  <div class="donate">
    <div class="donate-wrapper">
      <img
        src="{% static '/images/logo-cagepa.png' %}"
        alt="Cagepa"
        class="donate-image"
      />
      <div class="donate-info-wrapper cagepa">
        <img
          src="{% static '/images/logo-cagepa.png' %}"
          alt="Cagepa"
          class="donate-image-mini"
        />
        <span class="donate-info"
          >Ligação: 115 
          WhatsApp: 83 98198.4495 
          E-mail: doar@cagepa.pb.gov.br</span
        >
      </div>
    </div>
    <div class="donate-wrapper">
      <img
        src="{% static '/images/logo-bb.png' %}"
        alt="Banco do Brasil"
        class="donate-image"
      />
      <div class="donate-info-wrapper banco">
        <img
          src="{% static '/images/logo-bb.png' %}"
          alt="Banco do Brasil"
          class="donate-image-mini"
        />
        <span class="donate-info"
          >Agência: 4361-3
          Conta: 9784-5</span
        >
      </div>
    </div>
    <div class="donate-wrapper">
      <img
        src="{% static '/images/logo-pix.png' %}"
        alt="Pix"
        class="donate-image"
      />
      <div class="donate-info-wrapper pix">
        <img
          src="{% static '/images/logo-pix.png' %}"
          alt="Pix"
          class="donate-image-mini"
        />
        <span class="donate-info"
          >caixa@hlaureano.org.br</span
        >
      </div>
    </div>
    <div class="donate-wrapper">
      <img
        src="{% static '/images/logo-caixa.png' %}"
        alt="Caixa"
        class="donate-image"
      />
      <div class="donate-info-wrapper caixa">
        <img
          src="{% static '/images/logo-caixa.png' %}"
          alt="Caixa"
          class="donate-image-mini"
        />
        <span class="donate-info"
          >Agência:: 1010
          Operação: 013
          Conta: 32028-4</span
        >
      </div>
    </div>
    <div class="donate-wrapper">
      <img
        src="{% static '/images/logo-energisa.png' %}"
        alt="Energisa"
        class="donate-image"
      />
      <div class="donate-info-wrapper energisa">
        <img
          src="{% static '/images/logo-energisa.png' %}"
          alt="Energisa"
          class="donate-image-mini"
        />
        <span class="donate-info"
          >0800 083 0196</span
        >
      </div>
    </div>
  </div>
</section>
{% endblock body %}
