{% extends 'base.html' %} {% load static %} {% block titulo %}Hospital
Napoleão Laureano - Doações {%endblock titulo %} {% block body %}

<div class="navegacao">
  <ul>
    <il>
      <a class="navegacao-link" href="{% url 'home' %}">
        Início
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-link" href="{% url 'doacao' %}"> Quero Doar </a>
    </il>
  </ul>
</div>

<h1 class="pags-title">Quero Doar</h1>
<section class="pags-section">
  <h2 class="pags-h2-center">
    Seja um doador do <br />
    Hospital Napoleão Laureano
  </h2>
  <div class="container-doar">
    <img
      src="{% static '/images/logo-cagepa.png' %}"
      alt="cagepa"
      class="pic-doar"
    />
    <img
      src="{% static '/images/logo-bb.png' %}"
      alt="bb"
      class="pic-doar pic-bb"
    />
    <img
      src="{% static '/images/logo-pix.png' %}"
      alt="pix"
      class="pic-doar pic-pix"
    />
    <img
      src="{% static '/images/logo-caixa.png' %}"
      alt="caixa"
      class="pic-doar pic-caixa"
    />
    <img
      src="{% static '/images/logo-energisa.png' %}"
      alt="energisa"
      class="pic-doar pic-energisa"
    />
  </div>
</section>
{% endblock body %}
