{% extends "base.html" %} {% load static %} {% block titulo %}Hospital Napoleão
Laureano - Eventos do Hospital{% endblock titulo %} {% block body %}

<div class="navegacao">
  <ul>
    <il>
      <a class="navegacao-link" href="{% url 'home' %}">
        Início
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-link">
        Eventos
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-link" href="{% url 'eventos' %}"> Eventos do Hospital </a>
    </il>
  </ul>
</div>

<h1 class="pags-title">Eventos do Hospital</h1>

{% for item in eventos %}
  Título:{{item.Titulo}}
  <br>
  Data: {{item.DataInício}}
  <br>
  Hora Início: {{item.HoraInício}}
  <br>
  Fim:{{item.DataFim}}
  <br>
  Hora Fim: {{item.HoraFim}}
  <br>
  Informações: {{item.Informações}}
{% endfor %}

{% endblock body %}
