{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock css %} {% block body %}
<div class="main-content">
  <section class="banner-container">
    {% for item in banner|slice:3 %}
    <img src="/image/{{ item.FotoBanner }}" class="banner fade" />
    {% endfor %}
    <div class="move-buttons">
      <a class="back" onclick="plusSlides(-1)">&#10094;</a>
      <a class="forward" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div class="dots-buttons">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <div class="banner-container--side-menu">
      <button class="side-menu_arrow dark-green big" onclick="sendTo('{% url 'doacao' %}')">Faça sua doação</button>
      <button class="side-menu_arrow light-green" onclick="sendTo('{% url 'guia-medico' %}')">Guia médico</button>
      <button class="side-menu_arrow dark-green small" onclick="sendTo('{% url 'eventos' %}')">Eventos</button>
      <button class="side-menu_arrow light-green" onclick="sendTo('{% url 'convenio' %}')">Convênios</button>
      <button class="side-menu_arrow dark-green big" onclick="sendTo('{% url 'galeria' %}')">Galeria de fotos</button>
    </div>
  </section>

  <button class="donation-button" onclick="{% url 'doacao' %}">
    Quero doar
  </button>

  <section class="menu__smallDevice">
    <div class="menu__smallDevice--container flex-container">
    <li class="icon-link">
      <a class= "guia-medico-link">
        <img src="{% static '/images/guia-medico-img.png' %}"
        alt="guia-medico"
        class="menu__smallDevice-img"
       onclick="sendTo('{% url 'guia-medico' %}')"> 
      </a>
       Guia Médico
      </div>
    </div>
    <div class="white-ball">
      <div class= "convenio-link">
        <img src="{% static '/images/convênios-img.png' %}"
        alt="convênios"
        class="menu__smallDevice-img"
       onclick="sendTo('{% url 'convenio' %}')"> 
       Convênios
      </div>
    </div>
    <div class="pink-ball">
      <div class= "doacao-link">
        <img src="{% static '/images/doe_icon.png' %}"
        alt="doação"
        class="menu__smallDevice-img"
       onclick="sendTo('{% url 'doacao' %}')"> 
       Faça sua Doação
      </div>
    </div>
    <div class="white-ball">
      <div class= "transparencia-link">
        <img src="{% static '/images/transparencia-img.png' %}"
        alt="transparencia"
        class="menu__smallDevice-img"
       onclick="sendTo('{% url 'transparencia' %}')"> 
       Transparência
      </div>
    </div>
    <div class="white-ball"> 
      <div class= "eventos-link">
        <img src="{% static '/images/guia-medico-img.png' %}"
        alt="eventos"
        class="menu__smallDevice-img"
       onclick="sendTo('{% url 'eventos' %}')"> 
       Guia Médico
      </div>
    </div>
  </div>
  </section>


  <div class="dividing-line dividing-line--section"></div>
  <section class="news-container">
    <a class="title-section" href="{% url 'noticias' %}">Notícias</a>
    {% for item in noticia|slice:":3" %}
    <div class="news--wrapper">
      <img src="/image/{{ item.Imagem }}" class="news--image" onclick="sendTo('{% url 'detail-noticias' item.id %}')"/>
      <div class="news--content">
        <a href="{% url 'detail-noticias' item.id %}" class="news--content--title"> {{ item.Titulo }} </a>
        <span class="news--content--date">{{ item.Data }}</span>
        <p class="news--content--preview">{{ item.Corpo }}</p>
        <button class="news--content--button" onclick="sendTo('{% url 'detail-noticias' item.id %}')">Leia mais</button>
      </div>
      
    </div>
    <div class="dividing-line dividing-line--news"></div>
    {% endfor %}
  </section>

  <div class="dividing-line dividing-line--section"></div>
  <section class="cooperative-container">
    <a class="title-section" href="{% url 'convenio' %}">Convênios</a>
    <div class="cooperative--wrapper">
      <a class="previous">&#10094;</a>
      {% for item in convenio %}
      <div class="image-container">
        <img
          src="/image/{{ item.FotoCovenio }}"
          alt="{{item.NomeConvenio}}"
          class="cooperative--image"
        />
      </div>
      {% endfor %}
      <a class="next">&#10095;</a>
    </div>
  </section>

  <div class="dividing-line dividing-line--section"></div>
  <section class="certificate-container">
    <h3 class="title-section">Prêmios e Certificações</h3>
    <div class="certificate--wrapper">
      <a class="previous">&#10094;</a>
      {% for item in premio|slice:6 %}
      <div class="image-container">
        <img
          src="/image/{{ item.FotoPremio }}"
          alt="{{ item.NomePremio }}"
          class="certificate--image"
        />
      </div>
      {% endfor %}
      <a class="next">&#10095;</a>
    </div>
  </section>
</div>
{% endblock body %}
