{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock css %} {% block body %}
<div class="main-content">
  <section class="banner-container">
    {% for item in banner|slice:3 %}
    <img src="/image/{{ item.FotoBanner }}" class="banner fade" />
    {% endfor %}
    <div class="move-buttons">
      <a class="back" onclick="plusSlides(-1)">&#10094;</a>
      <a class="forward" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div class="dots-buttons">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <div class="banner-container--side-menu">
      <button class="side-menu_arrow dark-green big">Faça sua doação</button>
      <button class="side-menu_arrow light-green">Guia médico</button>
      <button class="side-menu_arrow dark-green small">Eventos</button>
      <button class="side-menu_arrow light-green">Convênios</button>
      <button class="side-menu_arrow dark-green big">Trasnparência</button>
    </div>
  </section>

  <button class="donation-button" onclick="{% url 'doacao' %}">
    Quero doar
  </button>

  <div class="dividing-line dividing-line--section"></div>
  <section class="news-container">
    <h3 class="title-section">Notícias</h3>
    {% for item in noticia|slice:":3" %}
    <div class="news--wrapper">
      <img src="/image/{{ item.Imagem }}" class="news--image" />
      <div class="news--content">
        <a href="" class="news--content--title"> {{ item.Titulo }} </a>
        <span class="news--content--date">{{ item.Data }}</span>
        <p class="news--content--preview">{{ item.Corpo}}</p>
        <button class="news--content--button">Leia mais</button>
      </div>
    </div>
    <div class="dividing-line dividing-line--news"></div>
    {% endfor %}
  </section>

  <div class="dividing-line dividing-line--section"></div>
  <section class="cooperative-container">
    <h3 class="title-section">Convênios</h3>
    <div class="cooperative--wrapper">
      <a class="previous">&#10094;</a>
      {% for item in convenio %}
      <div class="image-container">
        <img
          src="/image/{{ item.FotoCovenio }}"
          alt="{{item.NomeConvenio}}"
          class="cooperative--image"
        />
      </div>
      {% endfor %}
      <a class="next">&#10095;</a>
    </div>
  </section>

  <div class="dividing-line dividing-line--section"></div>
  <section class="certificate-container">
    <h3 class="title-section">Prêmios e Certificações</h3>
    <div class="certificate--wrapper">
      <a class="previous">&#10094;</a>
      {% for item in premio|slice:6 %}
      <div class="image-container">
        <img
          src="/image/{{ item.FotoPremio }}"
          alt="{{ item.NomePremio }}"
          class="certificate--image"
        />
      </div>
      {% endfor %}
      <a class="next">&#10095;</a>
    </div>
  </section>
</div>
{% endblock body %}
