
{% extends 'base.html' %}
{% load static %}

{% block titulo %}
HOSPITAL LAUREANO - PARCEIROS
{% endblock titulo %} 

{% block body %}

<div class="navegacao">
    <ul>
      <il>
        <a class="navegacao-link" href="{% url 'home' %}">
          Início
          <i class="uil uil-angle-double-right"></i>
        </a>
      </il>
      <il>
        <a class="navegacao-link" href="{% url 'parceiros' %}"> Parceiros </a>
      </il>
    </ul>
  </div>
  <h1 class="pags-title">Quero Doar</h1>
    
  <div class="donate">
        {% for item in parceiro %}  
            <img class="donate-image" src="/image/{{item.FotoParceiro}}">
        {% endfor %}
    </div>
</section>
{% endblock body %}