
{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Hospital Napoleão Laureano - Parceiros
{% endblock titulo %} 

{% block body %}

<div class="navegacao">
    <ul>
      <il>
        <a class="navegacao-link" href="{% url 'home' %}">
          Início
          <i class="uil uil-angle-double-right"></i>
        </a>
      </il>
      <il>
        <a class="navegacao-link" href="{% url 'parceiros' %}"> Parceiros </a>
      </il>
    </ul>
  </div>
  <h1 class="pags-title">Parceiros</h1>
  <section class="pags-section">
    
  <div class="donate">
        {% for item in parceiro %}  
            <img class="donate-image" src="/image/{{item.FotoParceiro}}">
        {% endfor %}
    </div>
    {% comment %} <ul class="pags-images-wrapper">
        {% for item in parceiro %}
        <li class="pags-image-wrapper">
          <img
            src="/image/{{ item.FotoParceiro }}"
            class="pags-image"
          />
        </li>
        {% endfor %}
      </ul> {% endcomment %}
</section>
{% endblock body %}