{% extends 'base.html' %} {% load static %} {% block titulo %}Hospital Napoleão
Laureano - Tranparência {%endblock titulo %} {% block body %}

<div class="navegacao">
  <ul class="row-j-start">
    <li>
      <a class="navegacao-link" href="{% url 'home' %}">
        Início
        <i class="uil uil-angle-double-right"></i>
      </a>
    </li>
    <li>
      <a class="navegacao-link" href="{% url 'transparencia' %}">
        Transparência
      </a>
    </li>
  </ul>
</div>

<h1 class="pags-title">Transparência</h1>
<section class="pags-section column-center">
    
    <div class="list-header">
        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
        <h3 class="list-title">Licitações</h2>
    </div>
    <ul class="list-wrapper">
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Reforma dos Laboratórios de Histocompatibilidade e Análises Clínicas no Hospital Napoleão Laureano</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">Edital</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">Anexos – Projeto Básico</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>  
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Reforma do Laboratório de Anatomia Patológica no Hospital Napoleão Laureano</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">Edital</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">Anexos – Projeto Básico</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Reforma dos Laboratórios de Histocompatibilidade e Análises Clínicas no Hospital Napoleão Laureano</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">Edital</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">Anexos – Projeto Básico</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Reforma da Fachada no Hospital Napoleão Laureano</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">Edital</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">Anexos – Projeto Básico</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Reforma dos Apartamentos no Hospital Napoleão Laureano</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="dividing-line dividing-line--list"></div>
    
    <div class="list-header">
        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
        <h3 class="list-title">Dados</h2>
    </div>
    <ul class="list-wrapper">
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Atos Normativos</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Calendário de Reuniões</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
            </ul>
        </li>
        <li>        
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Dados Estatísticos</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Demonstrativos Contábeis</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">2020</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">2019</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">2018</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Doações</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Estrutura Organizacional</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Prestação de Contas</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="dividing-line dividing-line--list"></div>
   
    <div class="list-header">
        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
        <h3 class="list-title">Verbas Covid</h2>
    </div>
    <ul class="list-wrapper">
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Recursos Recebidos</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Edital Publicado</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="dividing-line dividing-line--list"></div>

    <div class="list-header">
        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
        <h3 class="list-title">Convênios</h2>
    </div>
    <ul class="list-wrapper">
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Convênios celebrados para repasse de emendas parlamentes</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">Emendas parlamentares</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">Emenda de Bancada</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">Emenda Individuais</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Convênios Celebrados com os Municípios</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">Cabedelo</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="list-header">
                        <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                        <h3 class="list-title sub-list-title">Jacaraú</h2>
                    </div>
                    <ul class="list-wrapper">
                        <li>
                            <a href="" class="edital-link">link</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>        
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Convênio com o Governo do Estado da Paraíba</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="list-header">
                <img src="{% static '/images/lista_icon.png' %}" class="list-img" />
                <h3 class="list-title sub-list-title">Convênio de transferências voluntárias - Plataforma Mais Brasil</h2>
            </div>
            <ul class="list-wrapper">
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
                <li>
                    <a href="" class="edital-link">link</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="dividing-line dividing-line--list"></div>

    
</section>

<script type="text/javascript" src='{% static "/scripts/guia.js" %}'></script>

{% endblock body %} 




{% comment %} {% for item in transparencia %}
<ul>
  <li>
    <h1>
      PDF:<a href="{{item.PdfTransparencia.url}}" download
        >{{item.NomeTransparencia}}</a
      >
    </h1>
  </li>
</ul>

{% endfor %}{% endcomment %}
