{% extends 'base.html' %} {% load static %}
  {% block titulo %}Hospital Napoleão Laureano - Diretoria da Fundação
  {%endblock titulo %}
{% block body %}

<div class="navegacao">
  <ul>
    <il>
      <a class="navegacao-link" href="{% url 'home' %}">
        Início
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-link">
        Quem Somos
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-link">
        Fundação Laureano
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-link" href="{% url 'diretoriaFundacao' %}">
        Diretoria e Conselho
      </a>
    </il>
  </ul>
</div>

<h1 class="pags-title">Fundação Laureano</h1>

<section class="pags-section">
  <h2 class="pags-h2">Diretoria Executiva</h2>
  <div class="container-card">
    <img
      src="{% static '/images/diretor.png' %}"
      alt="imagem do diretor"
      class="board-icon"
    />
    <div class="background-card">
      <p class="board-name">Nome do Diretor</p>
      <p class="board-job">Diretor Presidente da Fundação</p>
    </div>
    <img
      src="{% static '/images/quote-detail.png' %}"
      alt="aspas"
      class="quotes-image"
    />
  </div>

  <h2 class="pags-h2">Conselho Deliberativo</h2>
  <div class="container-card">
    <img
      src="{% static '/images/diretor.png' %}"
      alt="imagem do diretor"
      class="board-icon"
    />
    <div class="background-card">
      <p class="board-name">Nome do Diretor</p>
      <p class="board-job">Diretor Presidente da Fundação</p>
    </div>
    <img
      src="{% static '/images/quote-detail.png' %}"
      alt="aspas"
      class="quotes-image"
    />
  </div>
</section>

<div class="other-pags-links">
  <ul>
    <il>
      <a class="other-pags-link" href="{% url 'diretoriaHospital' %}">
        Hospital Laureano
      </a>
    </il>
    <il>
      <a class="other-pags-link" href="{% url 'nossaMissao' %}"> Nossa Missão </a>
    </il>
  </ul>
</div>
{% endblock body %}
