{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% endblock css %}

    <title>{% block titulo %}HOSPITAL LAUREANO - DIRETORIA FUNDAÇÃO{% endblock titulo %}</title>
{% block body %}


    <section class="quemsomos qs-body" id="quem_somos" >
         <div class="navegacao">
             <ul class="navegacao">
                 <il>
                     <a class="navegacao-inicio">
                         Início
                         <i class="uil uil-angle-double-right"></i>
                     </a>
                 </il>
                 <il>
                     <a class="navegacao-inicio">
                         Quem Somos
                         <i class="uil uil-angle-double-right"></i>
                     </a>
                 </il>
                 <il>
                     <a class="navegacao-inicio">
                         Fundação Laureano
                         <i class="uil uil-angle-double-right"></i>
                     </a>
                 </il>
                 <il>
                     <a class="navegacao-inicio">
                         Diretoria e Conselho
                         <i class="uil uil-angle-double-right"></i>
                     </a>
                 </il>
             </ul>
         </div>
         
         <div class="top-cor qs-titulo">
             <h1 class="qs-titulo qs-h1">Fundação Laureano</h1>
         </div>
 
         <div class="corpo-principal">
             <h2 class="titulo_historia qs-h2">Diretoria Executiva</h2>
         </div>
 
         <div class="container-card">
         <div class="fundo-arredondado-diretor">
             <img src="{% static '/images/diretor.png' %}" alt="imagem do diretor" class="pic-diretor">
         </div>
         <div class="card-arredondado">
             <p class="nome-diretor"> Nome do Diretor</p>
             <p class="ocupacao"> Diretor Presidente da Fundação </p>
         </div>
         <div class="aspas">
             <img src="{% static '/images/quote-detail.png' %}" alt="aspas" class="img-aspas">
         </div>
         </div>
 
         <div class="container-card">
             <div class="fundo-arredondado-diretor">
                 <img src="{% static '/images/diretor.png' %}" alt="imagem do diretor" class="pic-diretor">
             </div>
             <div class="card-arredondado">
                 <p class="nome-diretor"> Nome do Diretor</p>
                 <p class="ocupacao"> Diretor Presidente da Fundação </p>
             </div>
             <div class="aspas">
                 <img src="{% static '/images/quote-detail.png' %}" alt="aspas" class="img-aspas">
             </div>
         </div>
 
         <div class="container-card">
             <div class="fundo-arredondado-diretor">
                 <img src="{% static '/images/diretor.png' %}" alt="imagem do diretor" class="pic-diretor">
             </div>
             <div class="card-arredondado">
                 <p class="nome-diretor"> Nome do Diretor</p>
                 <p class="ocupacao"> Diretor Presidente da Fundação </p>
             </div>
             <div class="aspas">
                 <img src="{% static '/images/quote-detail.png' %}" alt="aspas" class="img-aspas">
             </div>
         </div>
 
         <div class="container-card">
             <div class="fundo-arredondado-diretor">
                 <img src="{% static '/images/diretor.png' %}" alt="imagem do diretor" class="pic-diretor">
             </div>
             <div class="card-arredondado">
                 <p class="nome-diretor"> Nome do Diretor</p>
                 <p class="ocupacao"> Diretor Presidente da Fundação </p>
             </div>
             <div class="aspas">
                 <img src="{% static '/images/quote-detail.png' %}" alt="aspas" class="img-aspas">
             </div>
         </div>
 
         <div class="corpo-principal">
             <h2 class="titulo_historia qs-h2">Conselho Deliberativo</h2>
         </div>
         
         <div class="container-card">
             <div class="fundo-arredondado-diretor">
                 <img src="{% static '/images/diretor.png' %}" alt="imagem do diretor" class="pic-diretor">
             </div>
             <div class="card-arredondado">
                 <p class="nome-diretor"> Nome do Diretor</p>
                 <p class="ocupacao"> Diretor Presidente da Fundação </p>
             </div>
             <div class="aspas">
                 <img src="{% static '/images/quote-detail.png' %}" alt="aspas" class="img-aspas">
             </div>
             </div>
     
             <div class="container-card">
                 <div class="fundo-arredondado-diretor">
                     <img src="{% static '/images/diretor.png' %}" alt="imagem do diretor" class="pic-diretor">
                 </div>
                 <div class="card-arredondado">
                     <p class="nome-diretor"> Nome do Diretor</p>
                     <p class="ocupacao"> Diretor Presidente da Fundação </p>
                 </div>
                 <div class="aspas">
                     <img src="{% static '/images/quote-detail.png' %}" alt="aspas" class="img-aspas">
                 </div>
             </div>
     
             <div class="container-card">
                 <div class="fundo-arredondado-diretor">
                     <img src="{% static '/images/diretor.png' %}" alt="imagem do diretor" class="pic-diretor">
                 </div>
                 <div class="card-arredondado">
                     <p class="nome-diretor"> Nome do Diretor</p>
                     <p class="ocupacao"> Diretor Presidente da Fundação </p>
                 </div>
                 <div class="aspas">
                     <img src="{% static '/images/quote-detail.png' %}" alt="aspas" class="img-aspas">
                 </div>
             </div>
     
             <div class="container-card">
                 <div class="fundo-arredondado-diretor">
                     <img src="{% static '/images/diretor.png' %}" alt="imagem do diretor" class="pic-diretor">
                 </div>
                 <div class="card-arredondado">
                     <p class="nome-diretor"> Nome do Diretor</p>
                     <p class="ocupacao"> Diretor Presidente da Fundação </p>
                 </div>
                 <div class="aspas">
                     <img src="{% static '/images/quote-detail.png' %}" alt="aspas" class="img-aspas">
                 </div>
             </div>
                
            
 
         <div class="container-link">
                <ul>
                   <il>
                     <a class="qs-link" href="">
                         Hospital Laureano
                     </a>
                   </il>
         
                   <il>
                     <a class="qs-link" href="">
                         Nossa Missão
                     </a>
                    </il>
                </ul>
         </div>
         
<a class="mx-auto my-0 text-uppercase text-amarelo mx-auto mt-2 mb-5 style=" href="{% url 'home' %}">Back</a>
{% endblock body %}
