{% extends 'base.html' %} {% load static %} {% block titulo %} Hospital Napoleão
Laureano - História do Hospital {% endblock titulo %} {% block body %}

<div class="navegacao">
  <ul>
    <il>
      <a class="navegacao-inicio" href="{% url 'home' %}">
        Início
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-inicio">
        Quem Somos
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-inicio">
        Hospital Laureano
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-inicio" href="{% url 'historiaHospital' %}">
        História
      </a>
    </il>
  </ul>
</div>

<h1 class="pags-title">Hospital Laureano</h1>

<section class="pags-section">
  <h2 class="pags-h2">História</h2>
  <div class="pag-wrapper">
    <div class="pags-side-image-wrapper">
      <img
        src="{% static '/images/dr-napoleao-laureano.jpg' %}"
        alt="medico Napoleão Laureano"
        class="pags-side-image--image"
      />
      <span class="pags-side-image--subtext"
        >O médico Napoleão Laureano, idealizador do Hospital que imortaliza seu
        nome, amenizando a dor dos que são acometidos pelo câncer.</span
      >
    </div>

    <div class="pags-text">
      No dia 17 de março de 1951, na sede do jornal “Diário Carioca”, no Rio de
      Janeiro, realizou-se uma Mesa Redonda solicitada pelo Dr. Napoleão
      Rodrigues Laureano, que se esforçava para expressar o desejo de que fosse
      feita uma grande campanha, em âmbito nacional, de luta contra o câncer no
      Brasil.
      <br /><br />
      Naquela ocasião, estavam presentes os jornalista Danton Jobim e Pompeu de
      Souza, Dr. Simões Filho, Ministro da Educação e da Saúde, o Senador Ruy
      Carneiro, os médicos Mário Kroeff, Diretor do Serviço Nacional de Câncer,
      Alberto Coutinho, Jorge de Marsillac, Osolando Machado, Antonio Pinto
      Vieira, Adayr Eiras de Araújo, Sérgio de Azevedo, Turíbio Braz e Fernando
      Gentil, entre outras pessoas.
      <br /><br />
      Nessa mesa redonda realizada no Jornal Diário Carioca, Napoleão Laureano
      assim se expressou:
      <br /><br />

      "Ilustres Senhores, ninguém poderá duvidar das minhas intenções, pois
      condenado como estou pela medicina, nada pretendo para mim.
      Profissionalmente me faltarão as forças necessárias para qualquer
      iniciativa. Assim, não peço para mim, mas para meus patrícios, para
      milhares de brasileiros que, pelo interior, são vítimas do mesmo mal que
      me acometeu. <br /><br />
      Sinto forças morais para pedir, porque conheço a sensação de ser presa
      dessa moléstia terrível, pedir ao povo e ao Governo que me auxiliem a
      morrer tranqüilo, com o conforto de haver feito algo, ao menos pela
      Paraíba, neste setor que abracei como especialidade, a luta contra o
      câncer. Quero, portanto, ver fundado pelo menos um centro de combate ao
      câncer, em João Pessoa, na Paraíba, ainda antes de morrer, se a sorte me
      permitir."
      <br />
      O Dr. Mário Kroeff, entre outras considerações disse o seguinte:
      <br /><br />
      “Acho edificante ter um homem os dias contados e estar ainda pensando no
      próximo. Qualquer outro indivíduo, em melhores condições, já se
      encontraria no fundo de uma cama, ditando suas últimas disposições,
      entregue à fatalidade. O comum na vida é haver uma reação natural de
      revolta nas criaturas, em face da dor e do infortúnio. <br />Este homem,
      já com suas forças físicas alquebradas, ainda sente forças morais capazes
      de levantarem sua própria matéria para conduzir uma campanha como esta,
      que serve de exemplo vivo a todos, exemplo tétrico que ora é focalizado, e
      para o qual devemos chamar a atenção do público, do governo e dos
      afortunados”. <br /><br />
      Em pouco tempo as emissoras de rádio anunciavam que a população carioca
      estava se manifestando inteiramente solidária com a bandeira de luta de
      Napoleão Laureano e por isto a arrecadação de donativos já atingia elevado
      valor financeiro.<br /><br />
      Por esta razão, o Dr. Sérgio de Azevedo sugeriu a criação de uma Fundação
      para gerir os recursos que estavam sendo doados, quando o Dr. Mário Kroeff
      propôs a denominação de Fundação Napoleão Laureano. <br /><br />
      A primeira Diretoria ficou assim constituída: Diretor Presidente-
      Jornalista Pompeu de Souza, Vice-Presidente – Dr. Amadeu Fialho; Diretor
      Tesoureiro – Dr. Ruy Carneiro; Diretor Executivo- Dr. Mário Kroeff;
      Diretor Secretário- Dr. Jorge Sampaio Marsillac. <br /><br />Na
      Presidência de Honra foi confirmado o nome da Sra. Darcy Vargas e na
      Vice-presidência de Honra o nome do Jornalista Assis Chateaubriand.
      <br />
      <br />
      No dia 31 de Maio de 1951, às 20:30h faleceu no Rio de Janeiro, no
      Hospital Gafrée e Guinle, o médico Napoleão Laureano.
      <br /><br />
      Com o correr do tempo, alguns membros da primeira Diretoria renunciaram, a
      exemplo do professor Amadeu Fialho e do Jornalista Pompeu de Souza. No
      entanto, Mário Kroeff, Jorge de Marsillac e Ruy Carneiro permaneceram no
      comando da Fundação Laureano até a concretização do ideal de Napoleão
      Laureano – a inauguração do Hospital de Câncer, em João Pessoa, na
      Paraíba.
      <br /><br />
      Com a renúncia do Jornalista Pompeu de Souza o Deputado Federal Janduhy
      Carneiro foi eleito Diretor Presidente da Fundação Laureano e,
      dedicando-se incansavelmente, deu uma contribuição das mais valiosas para
      que o nosso Hospital de Câncer pudesse ser inaugurado.<br /><br />
      Foi ele o autor do Projeto de Lei que abriu um crédito de 100 milhões de
      cruzeiros (moeda da época), quantia esta que foi distribuída pelo Serviço
      Nacional de Câncer com as diversas entidades de combate ao câncer de nosso
      País. <br /><br />Aqui já podemos mostrar os bons resultados da luta
      encetada pelo médico Napoleão Laureano. Foi graças ao seu desprendimento,
      a sua dedicação e amor ao próximo, que se criou uma nova consciência de
      apoio à luta contra o câncer no Brasil. <br />
      <br />
      O eminente Presidente Getúlio Vargas, sensível aos anseios populares,
      sancionou o Projeto de Lei de iniciativa do Dep. Janduhy Carneiro e o
      Serviço Nacional de Câncer passou a dispor de recursos financeiros
      possibilitando, assim, a conclusão do Instituto Nacional do Câncer, na
      Praça da Cruz Vermelha, no Rio de Janeiro, bem como numerário suficiente
      para ajudar não somente ao Hospital Napoleão Laureano, mas a diversas
      outras entidades de combate ao câncer existentes no território
      brasileiro.<br />
      <br />A luta contra o câncer vai além do compromisso profissional. Muitos
      dedicam a essa missão uma vida inteira. É o exemplo do Dr. Antonio
      Carneiro Arnaud que, tendo sido o primeiro diretor do Hospital, hoje
      preside a Fundação Laureano com o mesmo devotamento. <br /><br />
      "Ilustres Senhores, ninguém poderá duvidar das minhas intenções, pois
      condenado como estou pela medicina, nada pretendo para mim.
      Profissionalmente me faltarão as forças necessárias para qualquer
      iniciativa. Assim, não peço para mim, mas para meus patrícios, para
      milhares de brasileiros que, pelo interior, são vítimas do mesmo mal que
      me acometeu. <br /><br />Sinto forças morais para pedir, porque conheço a
      sensação de ser presa dessa moléstia terrível, pedir ao povo e ao Governo
      que me auxiliem a morrer tranqüilo, com o conforto de haver feito algo, ao
      menos pela Paraíba, neste setor que abracei como especialidade -de luta
      contra o câncer. Quero, portanto, ver fundado um centro de combate ao
      câncer, em João Pessoa, na Paraíba, ainda antes de morrer, se a sorte me
      permitir”. <br /><br />
      O Dr. Mário Kroeff, entre outras considerações disse o seguinte: “Acho
      edificante ter um homem os dias contados e estar ainda pensando no
      próximo. Qualquer outro indivíduo, em melhores condições, já se
      encontraria no fundo de uma cama, ditando suas últimas disposições,
      entregue à fatalidade. O comum na vida é haver uma reação natural de
      revolta nas criaturas, em face da dor e do infortúnio.
      <br /><br />
      Este homem, já com suas forças físicas alquebradas, ainda sente forças
      morais capazes de levantarem sua própria matéria para conduzir uma
      campanha como esta, que serve de exemplo vivo a todos, exemplo tétrico que
      ora é focalizado, e para o qual devemos chamar a atenção do público, do
      governo e dos afortunados”.
      <br /><br />
      Em pouco tempo as emissoras de rádio anunciavam que a população carioca
      estava se manifestando inteiramente solidária com a bandeira de luta de
      Napoleão Laureano e por isto a arrecadação de donativos já atingia elevado
      valor financeiro. Por esta razão, foi proposta a criação de um órgão para
      ficar responsável pelos recursos arrecadados.<br /><br />
      O Dr. Sérgio de Azevedo sugeriu a criação da Fundação Laureano ou Fundação
      Napoleão Laureano. A primeira Diretoria ficou assim constituída : Diretor
      Presidente- Jornalista Pompeu de Souza, Vice-Presidente – Dr. Amadeu
      Fialho; Diretor Tesoureiro – Dr. Ruy Carneiro; Diretor Executivo- Dr.
      Mário Kroeff; Diretor Secretário- Dr. Jorge Sampaio Marsillac. Na
      Presidência de Honra foi confirmado o nome da Sra. Darcy Vargas e na
      Vice-presidência de Honra o nome do Jornalista Assis Chateaubriand.
      <br /><br />
      No dia 31 de Maio de 1951, às 20h30m faleceu, no Hospital Gafrée e Guinle
      , o médico Napoleão Laureano. Com o correr do tempo, alguns membros da
      Diretoria inicial renunciaram, a exemplo de professor Amadeu Fialho e do
      Jornalista Pompeu de Souza. É bom frisar que Mário Kroeff, Jorge de
      Marsillac e Ruy Carneiro permaneceram no comando da Fundação Laureano até
      a concretização do ideal de Napoleão Laureano – a inauguração do Hospital
      de Câncer, em João Pessoa, na Paraíba.
      <br /><br />
      É indispensável registrar que o então Deputado Federal Janduhy Carneiro
      foi eleito Diretor Presidente da Fundação Laureano e, na realidade, deu
      uma contribuição das mais valiosas para que o nosso Hospital de Câncer
      pudesse ser inaugurado. Foi ele o autor do Projeto de Lei que abriu um
      crédito de 100 milhões de cruzeiros, quantia esta que foi distribuída pelo
      Serviço Nacional de Câncer com as diversas entidades de combate ao câncer
      de nosso País.
      <br />
      Aqui já podemos mostrar os bons resultados da luta encetada pelo médico
      Napoleão Laureano. Foi graças ao seu desprendimento, a sua dedicação e
      amor ao próximo, que se criou uma nova consciência de apoio à luta contra
      o câncer no Brasil.<br /><br />
      O eminente Presidente Getúlio Vargas, sensível aos anseios populares,
      sancionou o Projeto de Lei de iniciativa do Dep. Janduhy Carneiro e o
      Serviço Nacional de Câncer passou a dispor de recursos financeiros
      possibilitando, assim, a conclusão do Instituto Nacional do Câncer, na
      Praça da Cruz Vermelha, no Rio de Janeiro, bem como numerário suficiente
      para a conclusão do Hospital de Câncer de nossa Capital além da ajuda a
      diversas outras entidades espalhadas pelo território brasileiro.
      <br /><br />
      Acreditamos que Napoleão Laureano jamais tenha imaginado que sua bondade
      pudesse resultar em tantos proveitos para a luta contra o câncer no País.
      Napoleão Laureano desejava um centro de combate ao câncer em João Pessoa e
      chegou a expressar o seu desejo em ver construída uma enfermaria no
      Hospital São Cristóvão, depois denominado de Newton Lacerda, onde
      trabalhou ao lado do então diretor e seu colega amigo Dr. Newton Lacerda.
      <br />
      A idéia cresceu e resultou na construção do Hospital Napoleão Laureano,
      que hoje, ocupa uma posição de destaque entre os nosocômios especializados
      do Brasil. A entidade não somente está bem equipada, mas possui uma equipe
      multidisciplinar do mais alto valor intelectual.
      <br /><br />
      O professor Asdrúbal Oliveira, em certa ocasião se pronunciou, dando um
      abalizado depoimento, quando declarou:<br /><br />
      “O atendimento ao paciente de câncer na Paraíba tem duas fases bem
      distintas, uma antes e outra depois da inauguração do Hospital Napoleão
      Laureano. Na primeira, o canceroso ficava debaixo das mangueiras na Praça
      Caldas Brandão, em frente ao Hospital Santa Isabel e na segunda, o
      canceroso passou a ser recebido, examinado e tratado com zelo e carinho no
      Hospital que Napoleão Laureano tanto desejou edificar.
      <br /><br />
      Na ocasião que comemora-se o cinqüentenário de criação da Fundação
      Laureano podemos dizer que a entidade, apesar das grandes dificuldades
      vivenciadas nos longos anos de sua existência, é vitoriosa por tudo que já
      conseguiu realizar.<br /><br />
      O Hospital Napoleão Laureano além de sua nobre e árdua missão de tratar os
      pacientes com câncer, vem sendo um excelente centro de ensinamento aos
      médicos e aos profissionais da área da saúde. Ele tem colaborado,
      inclusive, com a Universidade Federal da Paraíba. <br /><br />
      Parabéns a todos que confiaram, apoiaram e realizaram o sonho do grande
      médico e mártir Napoleão Laureano.
    </div>
  </div>
</section>

<div class="other-pags-links">
  <ul>
    <il>
      <a class="other-pags-link" href="{% url 'historiaFundacao' %}">
        Fundação Laureano
      </a>
    </il>
    <il>
      <a class="other-pags-link" href="{% url 'nossaMissao' %}">
        Nossa Missão
      </a>
    </il>
  </ul>
</div>

{% endblock body %}
