{% extends 'base.html' %}
{% load static %}

{% block titulo %}
HOSPITAL LAUREANO - Nossa Missão
{% endblock titulo %} 

{% block body %}

    <section class="quemsomos qs-body" id="quem_somos" >
        <div class="navegacao">
            <ul class="navegacao">
                <il>
                    <a class="navegacao-inicio" href="">
                        Início
                        <i class="uil uil-angle-double-right"></i>
                    </a>
                </il>
                <il>
                    <a class="navegacao-inicio"> 
                        Quem Somos
                        <i class="uil uil-angle-double-right"></i>
                    </a>
                </il>
                <il>
                    <a class="navegacao-inicio" >
                        Nossa Missão
                    </a>
                </il>
            </ul>
        </div>
        <div class="top-cor qs-titulo">
            <h1 class="qs-h1">Missão, Visão e Valores</h1>
        </div>

            <div class="qs-texto">

                <h2 class="qs-h2 missao">Missão</h2>
               
                <p>Promover o cuidado aos pacientes, familiares e colaboradores em toda a sua plenitude, através da excelência, inovação e na geração de conhecimento.</p>

                <h2 class="qs-h2 missao">Visão</h2>

                <p>Ser o melhor centro filantrópico de atendimento oncológico do Nordeste até 2025, com foco na sustentabilidade, qualidade e valor assistencial.</p>

                <h2 class="qs-h2 missao">Valores</h2>

                <p>Altruísmo, compromisso, ética, humanidade e integridade.</p>
                
            </div>
            
        </div>
        <div class="container-link">
            <ul>
                <il>
                    <a class="qs-link" href="">
                        Hospital Laureano
                    </a>
                </il>

                <il>
                    <a class="qs-link" href="">
                        FundaçãoLaureano
                    </a>
                </il>
             </ul>
    
        </div>
    </section>
{% endblock body %}
