{% extends 'base.html' %} {% load static %} {% block titulo %} Hospital Napoleão
Laureano - Nossa Missão {% endblock titulo %} {% block body %}

<div class="navegacao">
  <ul>
    <il>
      <a class="navegacao-inicio" href="{% url 'home' %}">
        Início
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-inicio">
        Quem Somos
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-inicio" href="{% url 'nossaMissao' %}">
        Nossa Missão
      </a>
    </il>
  </ul>
</div>

<h1 class="pags-title">Missão, Visão e Valores</h1>

<section class="pags-section">
  <h2 class="pags-h2">Missão</h2>

  <p class="pags-text">
    Promover o cuidado aos pacientes, familiares e colaboradores em toda a sua
    plenitude, através da excelência, inovação e na geração de conhecimento.
  </p>

  <h2 class="pags-h2">Visão</h2>

  <p class="pags-text">
    Ser o melhor centro filantrópico de atendimento oncológico do Nordeste até
    2025, com foco na sustentabilidade, qualidade e valor assistencial.
  </p>

  <h2 class="pags-h2">Valores</h2>

  <p class="pags-text">Altruísmo, compromisso, ética, humanidade e integridade.</p>
</section>

<div class="other-pags-links">
  <ul>
    <il>
      <a class="other-pags-link" href="{% url 'historiaHospital' %}">
        Hospital Laureano
      </a>
    </il>
    <il>
      <a class="qs-link" href="{% url 'historiaFundacao' %}">
        Fundação Laureano
      </a>
    </il>
  </ul>
</div>
{% endblock body %}
