{% extends 'base.html' %} {% load static %} {% block titulo %} Hospital Napoleão
Laureano - Nossa Missão {% endblock titulo %} {% block body %}

<div class="navegacao">
  <ul>
    <il>
      <a class="navegacao-link" href="{% url 'home' %}">
        Início
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-link">
        Quem Somos
        <i class="uil uil-angle-double-right"></i>
      </a>
    </il>
    <il>
      <a class="navegacao-link" href="{% url 'nossaMissao' %}">
        Nossa Missão
      </a>
    </il>
  </ul>
</div>

<h1 class="pags-title">Missão, Visão e Valores</h1>

<section class="pags-section">
  <div class="mission_title">
    <img class="mission_icon" src="{% static '/images/mountain_icon.png' %}" />
    <h2 class="pags-h2">Missão</h2>
  </div>
  <p class="pags-text">
    Promover o cuidado aos pacientes, familiares e colaboradores em toda a sua
    plenitude, através da excelência, inovação e na geração de conhecimento.
  </p>

  <div class="mission_title">
    <img class="mission_icon" src="{% static '/images/star_icon.png' %}" />
    <h2 class="pags-h2">Política de Qualidade</h2>
  </div>
  <p class="pags-text">
    Fornecer atendimento oncológico aos nossos clientes com segurança e
    qualidade, atendendo a todos os requisitos aplicáveis e melhorando
    continuamente os nossos processos.
  </p>

  <div class="mission_title">
    <img class="mission_icon" src="{% static '/images/goal_icon.png' %}" />
    <h2 class="pags-h2">Propósito</h2>
  </div>
  <p class="pags-text">Proteger as pessoas, valorizando a vida.</p>

  
  <div class="mission_title">
    <img class="mission_icon" src="{% static '/images/heart_icon.png' %}" />
    <h2 class="pags-h2">Valores</h2>
  </div>
  <p class="pags-text">
    Altruísmo, compromisso, ética, humanidade e integridade.
  </p>

  <div class="mission_title">
    <img class="mission_icon" src="{% static '/images/eye_icon.png' %}" />
    <h2 class="pags-h2">Visão</h2>
  </div>
  <p class="pags-text">
    Ser o melhor centro filantrópico de atendimento oncológico do Nordeste até
    2025, com foco na sustentabilidade, qualidade e valor assistencial.
  </p>
</section>

<div class="other-pags-links">
  <ul>
    <il>
      <a class="other-pags-link" href="{% url 'historiaHospital' %}">
        Hospital Laureano
      </a>
    </il>
    <il>
      <a class="other-pags-link" href="{% url 'historiaFundacao' %}">
        Fundação Laureano
      </a>
    </il>
  </ul>
</div>
{% endblock body %}
